# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.pytest_cache/
*.py[cod]

# Environment
.env

# Uploads
uploads/
data/chroma/
*sqlite3

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# ChromaDB
chroma_db/