# =========================
# API
# =========================
fastapi
uvicorn
python-multipart

# =========================
# Configuration
# =========================
pydantic
pydantic-settings
python-dotenv

# =========================
# PDF Processing
# =========================
pymupdf

# =========================
# AI / LLM
# =========================
ollama

langchain
langchain-community
langchain-ollama

# =========================
# Vector Database
# =========================
chromadb


# =========================
# Chunking
# =========================
langchain-text-splitters

# =========================
# Testing
# =========================
pytest